{% comment %}
  Product Gallery with Swiper Integration
  Supports schema-based settings for different devices
{% endcomment %}

<div class="product-gallery-container"
     data-slides-desktop="{{ settings.slides_per_view_desktop | default: 1 }}"
     data-slides-tablet="{{ settings.slides_per_view_tablet | default: 1 }}"
     data-slides-mobile="{{ settings.slides_per_view_mobile | default: 1 }}"
     data-show-pagination="{{ settings.show_pagination | default: true }}"
     data-show-navigation="{{ settings.show_navigation_arrows | default: true }}"
     data-slide-gap="{{ settings.slide_gap | default: 0 }}">

  <div class="swiper product-swiper">
    <div class="swiper-wrapper">
      
      {% comment %} Test images for different colors - 3-4 photos per color {% endcomment %}
      
      {% comment %} Red color variants (4 photos) {% endcomment %}
      <div class="swiper-slide" data-color="red">
        <div class="test-image red-lipstick">
          <div class="lipstick-tube">
            <div class="lipstick-body red"></div>
            <div class="lipstick-cap"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-color="red">
        <div class="test-image red-lipstick">
          <div class="lipstick-tube">
            <div class="lipstick-body red"></div>
            <div class="lipstick-cap"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-color="red">
        <div class="test-image red-lipstick">
          <div class="lipstick-tube">
            <div class="lipstick-body red"></div>
            <div class="lipstick-cap"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-color="red">
        <div class="test-image red-lipstick">
          <div class="lipstick-tube">
            <div class="lipstick-body red"></div>
            <div class="lipstick-cap"></div>
          </div>
        </div>
      </div>
      
      {% comment %} Blue color variants (4 photos) {% endcomment %}
      <div class="swiper-slide" data-color="blue">
        <div class="test-image blue-lipstick">
          <div class="lipstick-tube">
            <div class="lipstick-body blue"></div>
            <div class="lipstick-cap"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-color="blue">
        <div class="test-image blue-lipstick">
          <div class="lipstick-tube">
            <div class="lipstick-body blue"></div>
            <div class="lipstick-cap"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-color="blue">
        <div class="test-image blue-lipstick">
          <div class="lipstick-tube">
            <div class="lipstick-body blue"></div>
            <div class="lipstick-cap"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-color="blue">
        <div class="test-image blue-lipstick">
          <div class="lipstick-tube">
            <div class="lipstick-body blue"></div>
            <div class="lipstick-cap"></div>
          </div>
        </div>
      </div>
      
      {% comment %} Green color variants (4 photos) {% endcomment %}
      <div class="swiper-slide" data-color="green">
        <div class="test-image green-lipstick">
          <div class="lipstick-tube">
            <div class="lipstick-body green"></div>
            <div class="lipstick-cap"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-color="green">
        <div class="test-image green-lipstick">
          <div class="lipstick-tube">
            <div class="lipstick-body green"></div>
            <div class="lipstick-cap"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-color="green">
        <div class="test-image green-lipstick">
          <div class="lipstick-tube">
            <div class="lipstick-body green"></div>
            <div class="lipstick-cap"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-color="green">
        <div class="test-image green-lipstick">
          <div class="lipstick-tube">
            <div class="lipstick-body green"></div>
            <div class="lipstick-cap"></div>
          </div>
        </div>
      </div>
      
    </div>

    {% if settings.show_pagination %}
      <div class="swiper-pagination"></div>
    {% endif %}

    {% if settings.show_navigation_arrows %}
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    {% endif %}
  </div>
</div> 